{% csrf_token %}
<label id="{{ prefix }}-label-id" for="{{ prefix }}-detail-id" style="display: inline;"><strong>id:</strong></label>
<input id="{{ prefix }}-detail-id" name="id" type="text" class="control-form form-control mb-2" readonly required>

<label for="{{ prefix }}-detail-nombre"><strong>Nombre:</strong></label>
<input id="{{ prefix }}-detail-nombre" name="name" type="text"
  title="Solo puede contener letras y espacios (ej: Juan Jose)" class="control-form form-control mb-2" required>

<label for="{{ prefix }}-detail-fecha-inicio"><strong>Fecha de inicio:</strong></label>
<input id="{{ prefix }}-detail-fecha-inicio" name="startDate" type="date" class="control-form form-control mb-2"
  required>

<label for="{{ prefix }}-detail-fecha-fin"><strong>Fecha finalizacion:</strong></label>
<input id="{{ prefix }}-detail-fecha-fin" name="endDate" type="date" class="control-form form-control mb-2" required>

<label for="{{ prefix }}-selectPlace"><strong>Lugar:</strong></label>
<select id="{{ prefix }}-selectPlace" name="place" class="control-form form-control mb-2" required></select>

<label for="{{ prefix }}-selectType"><strong>Tipo:</strong></label>
<select id="{{ prefix }}-selectType" name="typeEvent" class="control-form form-control mb-2" required></select>

<label for="{{ prefix }}-detail-client"><strong>Cliente:</strong></label>
<button id="{{ prefix }}-detail-client" type="button" class="control-form form-control mb-2" required>
  {% if prefix == "create" %}
  Seleccionar cliente
  {% else %}
  Ver cliente
  {% endif %}</button>
<label><strong>Empleados:</strong></label>
<button id="{{ prefix }}-pop-up-detail-employees" type="button" class="control-form form-control mb-2" required> 
  {% if prefix == "create"%}
  Seleccionar empleados
  {% else %}
  Ver empleados seleccionados
  {% endif %}
</button>
{% if prefix == "change" %}
<button id="{{ prefix }}-pop-up-report" type="button" class="mb-2 mt-4 btn-report-blue">Generar informe de nómina</button>
{% endif %}
<input type="hidden" name="client" value="" id="{{ prefix }}-id-client">
<input type="hidden" name="employees" value="" id="{{ prefix }}-employees">