{% csrf_token %}
<div id="{{ prefix }}-pop-up-place" class="d-none report">
  <div id="pop-up-container-place">

    <h1>Crear Lugar</h1>
    <form id="{{ prefix }}-form-place">
      {% csrf_token %}
      <label for="{{ prefix }}-write-city">Ciudad: </label>
      <input id="{{ prefix }}-write-city" name="city" type="text" class="control-form form-control mb-2 " required>
      <label for="{{ prefix }}-write-direction">Dirección: </label>
      <input id="{{ prefix }}-write-direction" name="direction" type="text" class="control-form form-control mb-2 "
        required>
      <label for="{{ prefix }}-write-placeName">Nombre del lugar: </label>
      <input id="{{ prefix }}-write-placeName" name="placeName" type="text" class="control-form form-control mb-2 "
        required>
      <button type="submit" class="mb-2 mt-4 btn-report-blue">Crear</button>
    </form>
  </div>
</div>