{% csrf_token %}
<div id="pop-up-report" class="d-none report">
  <div id="pop-up-container">
    <div class="row col-md-12 align-items-center mt-4 mb-3">
      <!-- Contenedor botón cerrar -->
      <div class="mb-3 col-md-1">
        <button type="button" id="close-pop-up-report" class="btn btn-outline-secondary btn-back">
          <i class="fa-solid fa-xmark fa-beat"></i>
        </button>
      </div>
      <div class="col-md-10 position-relative">
        <h2 class="text-center align-center">
          Historial Laboral
        </h2>
        <!-- Botón Exportar PDF -->
        <button type="button" id="export-pdf-btn" class="btn btn-primary position-absolute" style="top:0; right:0;">
          Exportar PDF
        </button>
      </div>
    </div>

    <div class="d-flex align-items-center gap-3">
      <strong>Fecha del informe: </strong>
      <div class="fecha" id="fecha-actual"></div>
    </div>
    <div class="table-scroll-container">

      <table id="report-table">
        <thead>
          <tr>
            <th>Evento</th>
            <th>Fecha de Inicio</th>
            <th>Fecha Fin</th>
            <th>Salario</th>
            <th>Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cumpleaños Juan</td>
            <td>10-03-2020</td>
            <td>11-02-2020</td>
            <td>80000</td>
            <td>Músico</td>
          </tr>
          <tr>
            <td>Cumpleaños Juan</td>
            <td>10-03-2020</td>
            <td>11-02-2020</td>
            <td>80000</td>
            <td>Músico</td>
          </tr>
          <tr>
            <td>Cumpleaños Juan</td>
            <td>10-03-2020</td>
            <td>11-02-2020</td>
            <td>80000</td>
            <td>Músico</td>
          </tr>
          <tr>
            <td>Cumpleaños Juan</td>
            <td>10-03-2020</td>
            <td>11-02-2020</td>
            <td>80000</td>
            <td>Músico</td>
          </tr>
          <tr>
            <td>Cumpleaños Juan</td>
            <td>10-03-2020</td>
            <td>11-02-2020</td>
            <td>80000</td>
            <td>Músico</td>
          </tr>
          <tr>
            <td>Cumpleaños Juan</td>
            <td>10-03-2020</td>
            <td>11-02-2020</td>
            <td>80000</td>
            <td>Músico</td>
          </tr>
          <tr>
            <td>Cumpleaños Juan</td>
            <td>10-03-2020</td>
            <td>11-02-2020</td>
            <td>80000</td>
            <td>Músico</td>
          </tr>
          <tr>
            <td>Cumpleaños Juan</td>
            <td>10-03-2020</td>
            <td>11-02-2020</td>
            <td>80000</td>
            <td>Músico</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>