{% csrf_token %}
<label for="{{ prefix }}-detail-cc"><strong>CC:</strong></label>
<input id="{{ prefix }}-detail-cc" name="dni" type="number" class="control-form form-control mb-2" readonly required>
  
<label for="{{ prefix }}-detail-nombre"><strong>Nombre:</strong></label>
<input id="{{ prefix }}-detail-nombre" name="name" type="text" pattern="[A-Za-záéíóúÁÉÍÓÚñÑ\s]+" title="Solo puede contener letras y espacios (ej: Juan Jose)" class="control-form form-control mb-2" required>

  
<label for="{{ prefix }}-detail-telefono"><strong>Teléfono:</strong></label>
<input id="{{ prefix }}-detail-telefono" name="phoneNumber" type="number" class="control-form form-control mb-2" required>
  
<label for="{{ prefix }}-detail-direccion"><strong>Dirección:</strong></label>
<input id="{{ prefix }}-detail-direccion" name="address" type="text" class="control-form form-control mb-2" required>
  
<label for="{{ prefix }}-detail-correo"><strong>Correo:</strong></label>
<input id="{{ prefix }}-detail-correo" name="email" pattern="^[^@]+@[^@]+\.[^@]+$" title="Ingresa un correo válido con un punto después del arroba (ej: nombre@dominio.com)" class="control-form form-control mb-2" required>
  
  